.cocoapods
.AzureToolsForIntelliJ/
.nuget/
.templateengine

.swiftpm
.boto
/mpv-build

# QtPy
.designer

.gitconfig
.config/gcloud
.config/coc
.config/configstore
.config/expressvpn
.config/gatsby
.config/spotify-tui
.config/xm1
.config/xournalpp
.config/buildx
.config/mpv

.config/nvim/*
.config/github-copilot
.config/nvim/cmp-tabnine
.config/nvim/defx-git
.config/nvim/defx-icons
.config/nvim/django.plus.vim
!.config/nvim/init.vim

.config/fish/*
!.config/fish/config.fish

.config/omf



iterm2
.DS_Store
.CFUserTextEncoding
.Trash
.anaconda_backup
.anyconnect
.atom
.bash_history
# .bash_profile
.bash_sessions
# .bashrc
.bundle
.cache
.cisco
.color_coded
.conda
# .config
.cups
.docker
.eclipse
.fasd
.fly
.fzf
.ganttproject
.ganttproject.d
.gem
# .git
# .gitignore
.gnupg
.ipfs
.ipython
.irb_history
.jupyter
.learn-config
.lesshst
.local
.m2
.matplotlib
.mkshrc
.mono
.netrc
.nix-defexpr
.nix-profile
.node-gyp
.node_repl_history
.npm
.npm-global
.nvm
.p2
.pdbhistory
.prefs
.profile
.pylint.d
.python_history
.python_history-42260.tmp
.rvm
.rvmrc
.skim
.ssh
.tcshrc
.tmux.conf
.vim
.viminfo
# .vimrc
.vscode
.warp
.xonshrc
.yarnrc
.zcompdump
.zlogin
.zprofile
.zsh_history
.zsh_sessions
# .zshrc
.zshrc.bak
Applications
Desktop
Development
Documents
Downloads
Library
Movies
Music
Pictures
Postman
Public
# README.md
config
ipfs
mpv-build
opt
